
*.ipch
algorithm/kakaocode/.vs/kakaocode/v16/Browse.VC.db
algorithm/kakaocode/.vs/kakaocode/v16/.suo
*.tlog
algorithm/codeforce/codeforce/.vs/codeforce/v16/.suo
*.db
*.opendb
*.pdb
*.obj
*.ilk
*.filters
*.user
*.idb
*.exe
*.log
c++/.vs/c++/v16/.suo
.vs/develnote/v16/.suo
.vs/develnote/v16/.suo
.vs/develnote/v16/Browse.VC.db-shm
.vs/develnote/v16/Browse.VC.db-wal
.vs/develnote/v16/Solution.VC.db-shm
.vs/develnote/v16/Solution.VC.db-wal
Debug/develnote.exe.recipe
graphics/image/Debug/image.lib.recipe
*.recipe
*.iobj
*.ipdb
.vs/develnote/v16/.suo
